* {
    font-family: "Mukta", sans-serif;
}

body {
    background-color: #F6FEDB;
}

#test {
    display: flex;
}

#bar {
    display: flex;
    width: 100%;
    justify-content: center;
}

#infos {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#infos button {
    background-color: #ACE4AA;
    display: flex;
    text-align: center;
    padding: 5px;
    border: none;
    border-radius: 4px;
}

#controls {
    display: flex;
    justify-content: center;
    padding: 10px 10px 0px;
    background-color: #FA9F42;
    width: fit-content;
    border-radius: 10px 10px 0px 0px;
}

#controls button {
    background-color: transparent;
    color: #4E4C67;
    font-size: 1.6em;
    border: 0cm;
}

#timerSection {
    background-color: #A6B1E1;
    width: 19rem;
    padding: 20px 40px 20px;
    border-radius: 20px;
    text-align: center;
}

#timerSection p {
    font-size: 8em;
    margin: 0px;
    color: white;
}

#counter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.icons-counter {
    font-size: 1em;
    color: #A6B1E1;
    padding-right: 1px;
}

#timerControl {
    display: flex;
    justify-content: center;
    padding-top: 0px;
}

#controls button {
    cursor: pointer;
}

#timeSession {
    background-color: #ACE4AA;
    border-radius: 10px;
    width: 3.4rem;
    padding: 0% 30% 5%;
    font-size: 3.4em;
}

#timeBreak {
    background-color: #ACE4AA;
    border-radius: 10px;
    width: 3.4rem;
    padding: 0% 30% 5%;
    font-size: 3.4em;
}

#timerControl p {
    margin: 0%;
}

#session {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#break {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #F6FEDB;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}